body{
	margin: 0;	
}

header{
	padding: .8em;
	background-color: #42A5F5;
}

/* Lista de barra de navegacion */
#barra-de-navegacion li{
	display: inline-block;
	background-color: #42A5F5;
	color: white;
	border-radius: 15px;
	padding: 1.5em 2em;
}

#barra-de-navegacion li:hover{
	background-color: #01579B;
	color: white;
}

/* Iconos en el navbar */
span[class*="icon-"]{
	font-size: 19px;
}

