/* Quita el margen y el relleno de todos los elementos */
*{
	margin: 0;
	padding: 0;
}

/* Estilo de letra: Roboto */
header span{
	/* Importando letra estilo Roboto */
	font-family: font-family: 'Roboto', sans-serif;
}